bin
Bin
obj
packages
Components
TestResults
Help
.DS_Store
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.pidb
*.userprefs
*.dotCover
*.user
*.ide
*.DotSettings
*Resource.designer.fs
*Resource.designer.cs
*.nupkg
